* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

body::after{
 clear: both;
 content: '';
 display: table;
}

h1 {
  color: #ffffff;
  font-size: 70px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

img {
  height: 50px;
  margin-left: 8px;
  margin-right: 13px;
  width: 95px;
}

input {
  border: 0;
  display: block;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h2 {
  color: #455a64;
  font-size: 28px;
  margin-bottom: 17px;
  margin-top: 0;
}

div {
  margin-bottom: 20px;
  width: 100%;
}

button {
  background-color: inherit;
  border: 0;
  color: #455a64;
  font-size: 15px;
  margin-top: 10px;
  text-decoration: underline;
  text-decoration-color: #f2f4f4;
}

button:hover {
  font-weight: 800;
  text-decoration-color: #ffc107;
}

button:focus {
  outline: none;
}

input:focus {
  outline-color: #ffc107;
}

.main-container {
  background-color: #455a64;
  display: flex;
  flex-direction: column;
  float: left;
  height: 100%;
  justify-content: center;
  overflow: scroll;
  width: 50%;
}

.linked-input {
  font-size: 25px;
  margin-bottom: 45px;
  padding-left: 10px;
}

.linked-input::-webkit-input-placeholder{
  color:#cfd8dc;
}

.display {
  border: 2px solid #cfd8dc;
  background-color: #ffffff;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  text-align: center;
  width: 200px;
}

.articles-container {
  background-color: #cfd8dc;
  float: right;
  height: 100%;
  overflow: scroll;
  padding: 25px;
  width: 50%;
}

.submit-btn {
  background-color: #ffc107;
  color: #ffffff;
  font-size: 23px;
  font-weight: 800;
  margin-bottom: 45px;
}

.submit-btn:hover {
  background-color: #ffd773;
}

.submit-btn:disabled {
  background-color: black;
}

.red-read-button {
  color: #f05A28;
  font-weight: 800;
  text-decoration: none;
}

.bookmarks {
  background-color: #ffffff;
  border:  2px solid #607d8b;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 17px;
}

.bookmarks::after {
  content: '';
  display: table;
  clear: both;
}

.bookmark-url {
  border-bottom: 1px solid #cfd8dc;
  border-top: 1px solid #cfd8dc;
  color: #607d8b;
  font-size: 22px;
  margin: 0;
  padding-bottom: 17px;
  padding-top: 17px;
  text-decoration: underline;
  text-decoration-color: #f2f4f4;
}

.bookmark-url:hover {
  font-weight: 800;
  text-decoration-color: #ffc107;
}

.read-button {
  float:left;
}

.read {
  background-color: #f2f4f4;
  text-decoration-color: #cfd8dc;
}

.delete-button {
  float: right;
}

#clr-read-btn {
  display: block;
  font-size: 23px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  text-decoration: none;
  width: 80%;
}

@media screen and (max-width: 1040px) {
  h1 {
    font-size: 55px;
    margin-bottom: 35px;
  }

  img {
    height: 40px;
    width: 70px;
  }

  .linked-input {
    margin-bottom: 35px;
    font-size: 20px;
  }

  .submit-btn {
    font-size: 18px;
    margin-bottom: 35px;
  }

  #clr-read-btn {
    font-size: 18px;
  }

  .display {
    font-size: 15px;
  }
}

@media screen and (max-width: 950px) {
  h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 900px) {
  .articles-container {
    float: none;
    width: 100%;
  }

  .main-container {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 730px) {
  .linked-input {
    font-size: 18px;
  }

  .submit-btn {
    font-size: 15px;
  }

  #clr-read-btn {
    font-size: 15px;
  }

  .display {
    font-size: 13px;
  }
}

@media screen and (max-width: 470px) {
  h1 {
    font-size: 40px;
  }

  img {
    height: 30px;
    width: 50px;
  }
}

@media screen and (max-width: 370px) {
  h1 {
    font-size: 25px;
  }

  img {
    height: 20px;
    width: 40px;
  }
}
